gi/log
/tmp
!/log/.keep
!/tmp/.keep
/public/system
/public/packs
/node_modules

.env
.env.dev

/.bundle
/vendor/bundle

/.idea

.DS_Store

# Ignore master key for decrypting credentials and more.
/config/master.key
#メールアドレス記載しているので一時的に除外。gemの「config」で対応後、除外解除
/config/environments/development.rb
